$color: #2c3e50;
$bg-color: #f8f8f8;
$white: #ffffff;
$dirty-white: #f2f2f2;
$light-gray: #a6a6a6;
$dark-gray: #333333;

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
  background-color: $bg-color;
}
*, *::before, *::after {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.sticky-navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: $white;
  text-align: center;
  margin: 0px 0px 25px 0px;

  a {
    display: inline-flex;
    color: $light-gray;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 20px;
  }
  a:hover {
    color: $dark-gray;
  }
  span {
    position: relative;
    cursor: pointer;
  }
  span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
  }
  span:hover::after {
    background-color: $dark-gray;
    transform: scaleX(1);
    transform-origin: bottom center;
  }
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;

  .flex-layout {
    display: flex;
    justify-content: space-evenly;

    .news-headline-section {
      flex: 1;
      max-width: 37em;
      max-height: 30em;

      article {
        display: inline-flex;
        width: 100%;
        height: auto;
        background-color: #ededed;
        box-sizing: border-box;
      }
      figure {
        position: relative;
        width: 37em;
        height: 27em;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      figcaption div {
        position: absolute;
        background: rgba(0,0,0,.30); 
        top: 0; left: 0;
        width: 100%;
        height: 13%;

        h3 {
          color: $dirty-white;
          padding: 5px;
        }
      }
      figcaption span {
        position: absolute;
        color: $white;
        padding: 5px;
        bottom: 0; right: 0;
      }
      .content-container {
        height: 3em;
        color: $color;
        padding: 5px;
      }
    }

    .top-story-section {
      flex: 1;
      max-width: 30em;
      background-color: #ededed;

      h3 {
        background: rgba(0,0,0,.30); 
        padding: 5px 25px;
        margin-bottom: 5px;
      }
      article {
        padding: 10px 25px;
      }
      a div {
        border-bottom: 1px solid $color;
        color: $color;
      }
    }
  }
}

.grid-layout {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(auto, 1fr));
  margin: 60px auto;
  justify-items: center;
  max-width: 1030px;

  article {
    
    figure {
      position: relative;
      width: 20em;
      height: 15em;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}